.login-intro {
    padding-top: 15%;
    padding-bottom: 15%;
}

.login-form {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-bottom: 5%;
}

.login-form > form > ion-item {
    margin-bottom: 8%;
}

.head {
    text-align: center;
    font-family: 'BalsamiqSans';
}

.forget-pw {
    text-align: center;
    align-items: center;
}

.forget-pw > ion-text{
    font-size: 12px;
}

.social-login {
    margin-top: 5%;
    padding: 8%;
    padding-bottom: 0%;
    padding-top: 0;
}

.icon-small {
    align-items: center;
    width: 40px;
    height: 40px;
}

.button {
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: transparent;
    background: transparent;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    }

.footer {
    border: solid 1px red;
    background-color: transparent !important;
}




html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 0px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 20px;
}