.login-intro {
    padding-top: 20%;
    padding-bottom: 20%;
}

.login-form {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-bottom: 5%;
}

.login-form > form > ion-item {
    margin-bottom: 8%;
}

.head {
    text-align: center;
    font-family: 'BalsamiqSans';
}

.forget-pw {
    text-align: center;
    align-items: center;
}

.forget-pw > ion-text{
    font-size: 12px;
}

.social-login {
    margin-top: 5%;
    padding: 10%;
    padding-top: 0;
}

.icon-small {
    align-items: center;
    width: 40px;
    height: 40px;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: transparent;
    background: transparent;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    }
