<ion-content fullscreen>
  <div>
      <ion-grid
      fixed="true"
      class="head"
      >
        <ion-row>
          <ion-col>
            <ion-text color="tertiary">
              <h1>Log In</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="light">
              <h2>Sign up</h2>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
  <div class="login-intro">
    <div>
        <ion-avatar class="ion-margin-start">
          <img src="assets/media/login/etiqueta.svg">
        </ion-avatar>
    </div>
  </div>
  <div class="login-form">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="Login()">
      <ion-item>
        <ion-input formControlName="username" placeholder="Enter Username" type="text" maxlength="30"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" placeholder="Enter Password" type="password" maxlength="30"></ion-input>
      </ion-item>
      <ion-button 
        size="default" 
        expand="block"
        color="tertiary"
        type="submit"
        shape="round"
        fill="outline"
      >
        Log In
      </ion-button>
    </form>
  </div>
  <div class="forget-pw">
    <ion-text>
        Olvidaste tu contraseña?
    </ion-text>
  </div>
  <div class="social-login">
      <ion-grid
      fixed="true"
      >
        <ion-row>
          <ion-col class="ion-align-self-center icon">
            <ion-avatar>
              <img src="assets/media/login/facebook.svg" class="icon-small">
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-align-self-center icon">
            <ion-avatar>
              <img src="assets/media/login/search.svg" class="icon-small">
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-align-self-center icon">
            <ion-avatar>
              <img src="assets/media/login/twitter.svg" class="icon-small">
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
