<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="true">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="center">
            <ion-avatar>
              <img [src]="avatar">
            </ion-avatar>
          </div>
          <div class="center">
            <ion-note *ngIf="user_logged">{{ user_details.user_details.username }}</ion-note>
          </div>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item *ngIf="user_details.user_group.id == p.group || p.group == 0" (click)="selectedIndex = i; sectionMenu = 'pages' " routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i && sectionMenu == 'pages' ">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let label of labels; let i = index">
            <ion-item *ngIf="(label.url != 'logout') && (user_details.user_group.id == label.group || label.group == 0)" (click)="selectedIndex = i; sectionMenu = 'labels' " routerDirection="root" [routerLink]="[label.url]" lines="none" detail="false" [class.selected]="selectedIndex == i && sectionMenu == 'labels' ">
              <ion-icon slot="start" [ios]="label.icon + '-outline'" [md]="label.icon + '-sharp'"></ion-icon>
              <ion-label>{{ label.title | translate }}</ion-label>
            </ion-item>
            <ion-item *ngIf="label.url == 'logout'" (click)="log_out_user()" lines="none" detail="false" [class.selected]="selectedIndex == i && sectionMenu == 'labels' ">
              <ion-icon slot="start" [ios]="label.icon + '-outline'" [md]="label.icon + '-sharp'"></ion-icon>
              <ion-label>{{ label.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <div class="center">
          <ion-thumbnail class="logo-menu">
            <ion-img src="assets/media/Ofertappbolsaeditable.png"></ion-img>
          </ion-thumbnail>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
