<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'menu.profile' | translate  }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="avatar">
      <!--
      <div class="avatar-profile">
        <br>
        <br>
        foto de perfil
      </div>
      -->
      <ion-img [src]="imgProfile" [alt]="imgProfile"></ion-img>
      <div class="button-upload">
        <ion-button color="primary" (click)='selectImage()' class="img-button">
          <ion-icon name="camera-outline" color="light"></ion-icon>
        </ion-button>
      </div>
    </div>
    <br>
    <div class="profile-items">
      <ion-card class="profile-items-card boxing">
        <form [formGroup]="profileForm">
          <ion-text class="center">
            <h5>{{ 'profile.company_info' | translate  }} </h5>
          </ion-text>
          <ion-item>
              <ion-label position="stacked" color="medium"><ion-icon name="people-outline"></ion-icon>{{ 'profile.bussines_name' | translate  }}</ion-label>
              <ion-input placeholder="" type="text" maxlength="30" formControlName="nombre_empresa"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name_business">
              <div class="error-message" *ngIf="profileForm.get('nombre_empresa').hasError(validation.type) && (profileForm.get('nombre_empresa').dirty || profileForm.get('nombre_empresa').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
          <ion-item>
              <ion-label position="stacked" color="medium"><ion-icon name="pin-outline"></ion-icon>{{ 'profile.direction' | translate  }}</ion-label>
              <ion-input placeholder="" type="text" maxlength="30" formControlName="direccion"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.direccion">
              <div class="error-message" *ngIf="profileForm.get('direccion').hasError(validation.type) && (profileForm.get('direccion').dirty || profileForm.get('direccion').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
          <ion-item>
              <ion-label position="stacked" color="medium"><ion-icon name="call-outline"></ion-icon>{{ 'profile.phone' | translate  }}</ion-label>
              <ion-input placeholder="" type="text" maxlength="30" formControlName="phone"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.phone">
              <div class="error-message" *ngIf="profileForm.get('phone').hasError(validation.type) && (profileForm.get('phone').dirty || profileForm.get('phone').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label color="medium"  position="stacked"><ion-icon name="apps-outline"></ion-icon> {{ 'profile.category' | translate  }} </ion-label>
            <ion-select ok-text="Okay" cancel-text="Cancel" formControlName="categoria">
              <ion-select-option *ngFor="let category of categories" [value]="category.categoria">{{category.categoria}}</ion-select-option>
            </ion-select>
          </ion-item>
          <!--Informacion de Usurio-->
          <ion-text class="center">
            <h5>{{ 'profile.user_info' | translate  }} </h5>
          </ion-text>
          <ion-item>
              <ion-label position="stacked" color="medium"><ion-icon name="person-outline"></ion-icon> {{ 'profile.user_name' | translate  }} </ion-label>
              <ion-input placeholder="" type="text" maxlength="30" formControlName="name"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message" *ngIf="profileForm.get('name').hasError(validation.type) && (profileForm.get('name').dirty || profileForm.get('name').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
          <ion-item>
              <ion-label position="stacked" color="medium"><ion-icon name="mail-open-outline"></ion-icon> {{ 'profile.email' | translate  }} </ion-label>
              <ion-input placeholder="" type="text" maxlength="30" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="profileForm.get('email').hasError(validation.type) && (profileForm.get('email').dirty || profileForm.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
        </form>
        <div class="button-save">
          <ion-button size="small" (click)='update_user_profile()'>{{ 'base.save' | translate }}</ion-button>
        </div>
      </ion-card>
    </div>
    <div class="cambiar-clave">
      <ion-card class="boxing">
        <ion-item>
          <ion-chip outline color="primary" slot="start">
            <ion-label></ion-label>
            <ion-icon name="qr-code-outline" color="primary"></ion-icon>
            <ion-label></ion-label>
          </ion-chip>
          <ion-label>{{ 'profile.download_qr' | translate  }}</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/newofert">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
