<ion-content fullscreen>
  <div class="box">
    <!--Header-->
    <div class="row header">
      <div class="center" style="padding: 5%;">
        <ion-text>
          <h1 style="font-family: BalsamiqSans;">
              {{ 'login.login' | translate }}
          </h1>
          <div (click)="presentPopover($event)" style="text-align:center;">
            <ion-text color="medium">
              <h6> {{ lenguaje }} <ion-icon name="caret-down-outline"></ion-icon></h6>
            </ion-text>
          </div>
        </ion-text>
      </div>
    </div>
    <!--Content-->
    <div class="row content">
      <div class="animated fadeInDown center">
        <ion-thumbnail class="logo">
          <ion-img src="assets/media/Ofertappbolsaeditable.png"></ion-img>
        </ion-thumbnail>
      </div>
      <div class="login-form">
          <form [formGroup]="loginForm" (ngSubmit)="Login()">
            <div class="item">
              <ion-label position="stacked" color="medium"><ion-icon name="mail-outline"></ion-icon> {{ 'login.email' | translate }}</ion-label>
              <ion-input formControlName="username" type="text" maxlength="30" placeholder=""></ion-input>
            </div>
            <div class="item">
              <ion-label position="stacked" color="medium"><ion-icon name="lock-open-outline"></ion-icon> {{ 'login.password' | translate }}</ion-label>
              <div class="show-password">
                <ion-input class="no-line" formControlName="password" [type]="showPassword ? 'text' : 'password'" maxlength="50" placeholder=""></ion-input>
                <ion-icon class="eye-icon" name="{{passwordIcon}}" (click)="toggle_password()"></ion-icon>
              </div>
            </div>
            <div class="forget-pw">
              <ion-text color="primary" (click)=social_login()>
                {{ 'login.forgett_password' | translate }}
              </ion-text>
            </div>
            <br>
            <ion-button 
              expand="block"
              type="submit"
              class="button"
            >
            {{ 'login.login' | translate }}
            </ion-button>
          </form>
        </div>
        <div class="social-login">
            <ion-text color="medium" style="font-family: BalsamiqSans;">
                {{ 'social_login.alt_login' | translate }}
              </ion-text>
            <ion-grid
            fixed="true"
            >
              <ion-row>
                <ion-col class="ion-align-self-center">
                  <ion-avatar class="center" (click)=social_login()>
                    <img src="assets/media/login/facebook.svg" class="icon-small">
                  </ion-avatar>
                </ion-col>
                <ion-col class="ion-align-self-center">
                  <ion-avatar class="center" (click)=social_login()>
                    <img src="assets/media/login/search.svg" class="icon-small">
                  </ion-avatar>
                </ion-col>
              </ion-row>
            </ion-grid>
        </div>
    </div>
    <!--Footer-->
    <div class="row footer">
      <div class="center" style="padding:5%;">
        <ion-text color="medium" style="font-family: BalsamiqSans;">
          {{ 'login.without_account' | translate }}
        </ion-text>
      </div>
      <div class="center" style="padding-bottom:5%;">
        <br>
        <ion-text>
          <ion-router-link routerLink="/register">
            {{ 'login.singup' | translate }}
          </ion-router-link>
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>