.avatar {
    background: transparent;
    background-color: rgba(250, 250, 250, 0.76);
    height: 280px;
    width: 100%;
    max-width: 506px;
    position: relative;
}

.ofert_content {
    background: white;
    background-color: white;
}

.button-upload {
    position: absolute;
    bottom: 0;
    right: 0;
}