<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/main"><ion-icon name="arrow-back-outline" color="primary"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title *ngIf="!edit">{{ 'new_ofert.new_ofert' | translate }}</ion-title>
      <ion-title *ngIf="edit">{{ 'new_ofert.update_offer' | translate }}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ofertaForm">
      <ion-card class="boxing">
        <div class="avatar">
          <ion-img [src]="img_src" atl="assets/media/oferta_default.png"></ion-img>
          <div class="button-upload">
            <ion-button color="primary" (click)='selectImage()' class="img-button" class="without-border">
              <ion-icon name="camera-outline" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
        <ion-card-header>
          <!--
            <ion-card-subtitle>Destination</ion-card-subtitle>
          -->
          <ion-card-title>

          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ofert_content">
          <ion-item>
            <ion-label position="stacked" color="medium"> <ion-icon name="pencil-outline"></ion-icon>{{ 'new_ofert.title' | translate }}</ion-label>
            <ion-input formControlName="titulo" placeholder="Nueva Oferta" (ionChange)="enable_save()"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.titulo">
              <div class="error-message" *ngIf="ofertaForm.get('titulo').hasError(validation.type) && (ofertaForm.get('titulo').dirty || ofertaForm.get('titulo').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="stacked" color="medium"><ion-icon name="reorder-four-outline"></ion-icon> {{ 'new_ofert.description' | translate }}</ion-label>
            <ion-textarea
              cols=""
              color=""
              rows="2"
              formControlName="descripcion"
              (ionChange)="enable_save()"
              value="">
            </ion-textarea>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.descripcion">
              <div class="error-message" *ngIf="ofertaForm.get('descripcion').hasError(validation.type) && (ofertaForm.get('descripcion').dirty || ofertaForm.get('descripcion').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
          <div class="precio-porcenjate">
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <ion-item class="precio">
                    <ion-label position="stacked" color="medium"><ion-icon name="cash-outline"></ion-icon> {{ 'new_ofert.price' | translate }}</ion-label>
                    <ion-input 
                      formControlName="precio" 
                      (ionInput)="handleInput($event)"
                      name="dummyFacade" 
                      id="dummyFacade" 
                      #dummyFacade 
                      type="number" 
                      inputmode="text"
                      placeholder="0.00"
                      (ionChange)="enable_save()"
                    ></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.precio">
                      <div class="error-message" *ngIf="ofertaForm.get('precio').hasError(validation.type) && (ofertaForm.get('precio').dirty || ofertaForm.get('precio').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <ion-item class="porcen">
                    <ion-label position="stacked" color="medium">$ {{ 'new_ofert.coin' | translate }}</ion-label>
                    <ion-select formControlName="moneda" ok-text="Okay" cancel-text="Cancel" value="bolivares" (ionChange)="enable_save()">
                      <ion-select-option value="1">Bs</ion-select-option>
                      <ion-select-option value="2">$</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.moneda">
                      <div class="error-message" *ngIf="ofertaForm.get('moneda').hasError(validation.type) && (ofertaForm.get('moneda').dirty || ofertaForm.get('moneda').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="precio">
                    <ion-label position="stacked" color="medium">% {{ 'new_ofert.percent' | translate }}</ion-label>
                    <ion-input formControlName="porcentaje" placeholder="10%" type="number" (ionChange)="enable_save()"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.porcentaje">
                      <div class="error-message" *ngIf="ofertaForm.get('porcentaje').hasError(validation.type) && (ofertaForm.get('porcentaje').dirty || ofertaForm.get('porcentaje').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="precio">
                    <ion-label position="stacked" color="medium"> <ion-icon name="swap-vertical-outline"></ion-icon>{{ 'new_ofert.quantity' | translate }}</ion-label>
                    <ion-input (ionChange)="enable_save()" placeholder="1" formControlName="cantidad" type="number"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.cantidad">
                      <div class="error-message" *ngIf="ofertaForm.get('cantidad').hasError(validation.type) && (ofertaForm.get('cantidad').dirty || ofertaForm.get('cantidad').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="center">
            <ion-button
              (click)="set_oferta()"
              size="small"
              *ngIf="!edit"
            >
            {{ 'base.create' | translate }}
            </ion-button>
            <ion-button
              size="small"
              *ngIf="edit"
              (click)="update_oferta()"
              [disabled]="!button_save_edit"
            >
            Guardar
            </ion-button>
            <br>
          </div>
          <div *ngIf="edit">
            <br>
            <ion-item>
              <ion-label>{{ 'settings.disable_notifications' | translate  }}</ion-label>
              <ion-toggle slot="end" [checked]="checked_offert" (ionChange)="habilitar_oferta()"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'base.delete' | translate  }}</ion-label>
              <ion-icon name="trash-outline" color="danger" (click)="eliminar_oferta()"></ion-icon>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>
  </form>

</ion-content>
