/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.text-color {
    color: rgb(131, 131, 131);
}

@font-face {
    font-family: 'BalsamiqSans';
    src: url('./assets/fonts/BalsamiqSans-Bold.ttf');
  }

@font-face {
    font-family: 'ChelseaMarket';
    src: url('./assets/fonts/ChelseaMarket-Regular.ttf');
}

@font-face {
    font-family: 'HoltwoodOneSC';
    src: url('./assets/fonts/HoltwoodOneSC-Regular.ttf');
}

@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('./assets/fonts/ShadowsIntoLight-Regular.ttf');
}


.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }

.logo-menu {
  height: 100px;
  width: 150px;
}

.boxing {
  border-radius: 10px;
  box-shadow:6px 6px 4px 4px #D1D9E6,
            -8px -8px 8px 8px rgb(248, 248, 248);
}

.border-green {
    border: solid 1px green !important;
}

.border-red {
  border: solid 1px red !important;
}

.aling-left {
    display: flex;
    text-align: left;
}

.aling-rigth {
    text-align: right;
}

/* DOES NOT WORK - not specific enough */
.popover-content {
    background: #222;
  }
  
/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .popover-content {
background: #222;
}

/* DOES NOT WORK - not specific enough */
ion-loading {
  color: rgb(65, 65, 65);
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class {
  color: rgb(65, 65, 65);
}

ion-content {
  .error-message
  {
    text-align: left;
    color: red;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 2%;
  }
}




html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 0px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 20px;
}