<ion-content fullscreen>
  <div class="box">
    <!--header-->
    <div class="row header">
      <div class="center" style="padding: 5%;">
        <ion-text>
          <h1 style="font-family: BalsamiqSans;">
              {{ 'signup.signup' | translate }}
          </h1>
          <div (click)="presentPopover($event)" style="text-align:center;">
            <ion-text color="medium">
              <h6> {{ lenguaje }} <ion-icon name="caret-down-outline"></ion-icon></h6>
            </ion-text>
          </div>
        </ion-text>
      </div>

    </div>
    <!--Content-->
    <div class="row content">
      <div>
        <ion-slides 
        pager="true" 
        #mySlider
        (ionSlideDrag)="onIonDrag($event)"
        [options]="slidesOptions"
        >
          <ion-slide >
            <div class="slide">
              <img src="assets/media/slide-1.png"/>
              <h2>{{ 'signup.welcome' | translate }}</h2>
              <h4>{{ 'signup.how_register' | translate }}</h4>
              <ion-grid>
                <ion-row>
                  <ion-col>
                      <ion-card button="true" type="button" (click)="set_user_type(true)">
                          <img src="assets/media/persona.png" />
                          <ion-card-header>
                            <ion-card-subtitle>{{ 'signup.client' | translate }}</ion-card-subtitle>
                          </ion-card-header>
                          <ion-card-content>
                            Persona en busca de ofertas
                          </ion-card-content>
                        </ion-card>
                  </ion-col>
                  <ion-col>
                      <ion-card button="true" type="button" (click)="set_user_type(false)">
                          <img src="assets/media/empresa.png" />
                          <ion-card-header>
                            <ion-card-subtitle>{{ 'signup.business' | translate }}</ion-card-subtitle>
                          </ion-card-header>
                          <ion-card-content>
                            Empresa la cual ofrece ofertas
                          </ion-card-content>
                        </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-slide>
  
          <ion-slide>
            <img src="assets/media/slide-2.png"/>
            <!--Formulario cliente-->
            <div *ngIf="user_type" class="form-control">
              <h3>{{ 'signup.client' | translate}}</h3>
              <form [formGroup]="clientForm">
                <ion-item>
                  <ion-label position="stacked" color="medium"><ion-icon name="person-outline"></ion-icon> {{ 'signup.client_form.name' | translate }}</ion-label>
                  <ion-input formControlName="name" placeholder="" type="text" maxlength="30"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="clientForm.get('name').hasError(validation.type) && (clientForm.get('name').dirty || clientForm.get('name').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                    </div>
                  </ng-container>
                </div>

                <ion-item>
                  <ion-label position="stacked" color="medium"><ion-icon name="mail-outline"></ion-icon> {{ 'signup.client_form.email' | translate }}</ion-label>
                  <ion-input formControlName="email" placeholder="" type="text" maxlength="30"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="clientForm.get('email').hasError(validation.type) && (clientForm.get('email').dirty || clientForm.get('email').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                    </div>
                  </ng-container>
                </div>
                <div formGroupName="matching_passwords">
                  <ion-item>
                    <ion-label position="stacked" color="medium"><ion-icon name="lock-open-outline"></ion-icon> {{ 'signup.business_form.password' | translate }}</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                      <div class="error-message" *ngIf="clientForm.get('matching_passwords').get('password').hasError(validation.type) && (clientForm.get('matching_passwords').get('password').dirty || clientForm.get('matching_passwords').get('password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                      </div>
                    </ng-container>
                  </div>
                  <ion-item>
                    <ion-label position="stacked" color="medium"><ion-icon name="lock-open-outline"></ion-icon> {{ 'signup.business_form.confirm_password' | translate }}</ion-label>
                    <ion-input type="password" formControlName="confirm_password"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.confirm_password">
                      <div class="error-message" *ngIf="clientForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (clientForm.get('matching_passwords').get('confirm_password').dirty || clientForm.get('matching_passwords').get('confirm_password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                      </div>
                    </ng-container>
                  </div>
                </div>
                <!-- These validations are for the form group -->
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                    <div class="error-message" *ngIf="clientForm.get('matching_passwords').hasError(validation.type) && (clientForm.get('matching_passwords').get('confirm_password').dirty || clientForm.get('matching_passwords').get('confirm_password').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                    </div>
                  </ng-container>
                </div>
              </form>
            </div>
            <!--Formulario empresa-->
            <div *ngIf="!user_type" class="form-control">
              <h2>{{ 'signup.business' | translate }}</h2>
              <form [formGroup]="businessForm" novalidate>
                <ion-item>
                  <ion-label position="stacked" color="medium"><ion-icon name="people-outline"></ion-icon> {{ 'signup.business_form.name' | translate }}</ion-label>
                  <ion-input formControlName="name" placeholder="" type="text" maxlength="30"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="businessForm.get('name').hasError(validation.type) && (businessForm.get('name').dirty || businessForm.get('name').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                    </div>
                  </ng-container>
                </div>
                <ion-item>
                  <ion-label position="stacked" color="medium"><ion-icon name="call-outline"></ion-icon> {{ 'signup.business_form.phone' | translate }}</ion-label>
                  <ion-input formControlName="phone" placeholder="" type="text" maxlength="30"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" color="medium"><ion-icon name="mail-outline"></ion-icon> {{ 'signup.business_form.email' | translate }}</ion-label>
                  <ion-input formControlName="email" placeholder="" type="text" maxlength="30"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="businessForm.get('email').hasError(validation.type) && (businessForm.get('email').dirty || businessForm.get('email').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                    </div>
                  </ng-container>
                </div>
                <div formGroupName="matching_passwords">
                  <ion-item>
                    <ion-label position="stacked" color="medium"><ion-icon name="lock-open-outline"></ion-icon> {{ 'signup.business_form.password' | translate }}</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                      <div class="error-message" *ngIf="businessForm.get('matching_passwords').get('password').hasError(validation.type) && (businessForm.get('matching_passwords').get('password').dirty || businessForm.get('matching_passwords').get('password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                      </div>
                    </ng-container>
                  </div>
                  <ion-item>
                    <ion-label position="stacked" color="medium"><ion-icon name="lock-open-outline"></ion-icon> {{ 'signup.business_form.confirm_password' | translate }}</ion-label>
                    <ion-input type="password" formControlName="confirm_password"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.confirm_password">
                      <div class="error-message" *ngIf="businessForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (businessForm.get('matching_passwords').get('confirm_password').dirty || businessForm.get('matching_passwords').get('confirm_password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                      </div>
                    </ng-container>
                  </div>
                </div>
                <!-- These validations are for the form group -->
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                    <div class="error-message" *ngIf="businessForm.get('matching_passwords').hasError(validation.type) && (businessForm.get('matching_passwords').get('confirm_password').dirty || businessForm.get('matching_passwords').get('confirm_password').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                    </div>
                  </ng-container>
                </div>
              </form>
            </div>
          </ion-slide>
  
          <ion-slide>
            <img src="assets/media/slide-4.png"/>
            <h2>Ready to Play?</h2>
            <h5>Politicas de Privacidad - Terminos y Condiciones</h5>
            <ion-button fill="clear" (click)="register()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-slide>
        </ion-slides>
        <button (click)="swipeBefore()" class="swiper-button-prev arrow-button" *ngIf="left_arrow"></button>
        <button (click)="swipeNext()" class="swiper-button-next arrow-button" *ngIf="rigth_arrow"></button>
        
      </div>
    </div>
    <!--footer-->
    <div class="row footer">
      <div class="center" style="padding:5%;">
        <ion-text color="medium" style="font-family: BalsamiqSans;">
          {{ 'signup.already_account' | translate }}
        </ion-text>
      </div>
      <div class="center" style="padding-bottom:5%;">
        <br>
        <ion-text>
          <ion-router-link routerLink="/login">
            {{ 'signup.login' | translate }}
          </ion-router-link>
        </ion-text>
      </div>
    </div>
    
  </div>
</ion-content>
